<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <p>
    Guest Name is {{guest.firstName}} {{guest.surname}} 
  </p>
  
  <p>{{ getTitle()}}</p>

  <p>
    <input readonly type="text" value="{{getTitle()}}"> 
  </p>

  <p>
    <input readonly type="text" [value]="getTitle()"> 
  </p>

  <p>
    <input readonly type="text" bind-value="getTitle()"> 
  </p>

  <p>
    <button [disabled]="allCarRented()" [style.color]="allCarRented() ? 'red' : 'blue'" on-click="retACar()">Arac Kirala</button>
  </p>
  <!--AngularJS de on-click ile (click) tanımı aynı işi yapar. Fonksiyonlara () işareti ile değerlere [] ile binding yapılır.-->
  <p>
    Mevcut Arac Sayisi : <input (input)="availableCar = $event.target.value" type="text" bind-value="getAvailableCar()">
  </p>

  <p><button (click)="alert('Hello')">Click Me</button></p> <!--angular method bind ile çalışmaz-->
  <label>{{isBoolean}}</label>
  <label>{{welcomeMessage}}</label>

  <input type="text" [value]="'1+2+3'"/> <!--1+2+3-->
  <input type="text" [value]="1+2+3"/>    <!--6-->
  <br>
  <input type="text" (input)="show($event.target.value)" /> <!--Klavyeden her input aldığında bu ts tarafında bu metot çalışacak-->
  </div>

