<div *ngIf="messageService.messages.length">
  <h2>Messages</h2>

  <button class="clear" (click)="messageService.clear()">clear</button>

  <div *ngFor='let message of messageService.messages'>{{message}}</div>
</div>


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!--
<div *ngIf="selectedHero">

  <h2>{{selectedHeroName | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

</div>

-->


<app-hero-detail [hero] = "selectedHero" [heroName] = "selectedHeroName"></app-hero-detail> <!-- hero-detais componenti içinde hero gördüğü her yere selectedHero, heroName gördüğü heryere selectedHeroName koyacak -->

